table, th, td {
    border: 1px solid black;
}

th, td{
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-template-areas:
            "addCard review cardManager";
}
.addCard { grid-area: addCard; }
.review { grid-area: review; }
.cardManager { grid-area: cardManager; }

pre {
    font-size: large;
}

.centerContents{
    display: flex;
    justify-content: center;
    align-items: center;
}